@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&family=Princess+Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,100..700&family=MonteCarlo&family=Princess+Sofia&display=swap');

.fonte-monte-carlo {
    font-family: 'MonteCarlo', cursive;
}
*{  
    /* estilo padrao para toda a página */
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html{
    scroll-behavior: smooth;
}

.topo-pagina{
    background-color: red;
    position: relative;
}
.imagem-topo{
    background-color: yellow;
    width: 100%;
    height: 446px;
}
.imagem-topo img{
    width: 100%;
    height: 446px;
}

.fonte-monte-carlo h1{
    font-size: 128px;
    z-index: 1000;
    position: absolute; /* Retira o texto do fluxo normal */
    bottom: -24%;
    box-sizing: border-box; /* Garante que o padding não aumente a largura */
}
